@import "tailwindcss";

:root {
	--font-inter: "Inter", sans-serif;
	--font-arvo: "Arvo", serif;
}

html {
	font-family: var(--font-inter);
	scroll-behavior: smooth;
}

.font-sans {
	font-family: var(--font-inter);
}

.font-serif {
	font-family: var(--font-arvo);
}
